@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&display=swap');

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: #1d4851;
}
/* **************************** NAVBAR *********************************** */
nav {
    overflow: hidden;
    background-color: #fffae1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

header li{
    float: right;
    font-size: 1.2em;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px ;
}

#logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}


/* *************************** IMAGE PRINCIPALE ****************************** */

#imagePrincipale{
    padding-top: 60px;
    background: url(Img/marches.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 599px;
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 110px;
    text-shadow: 1px 3px 2px black;
}

#PremierTrait{
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #fffae1;
    box-shadow: 1px 3px 2px black;
}

h3{
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}

/* *********************** PRESENTATION *************************** */

#Presentation {
    background-color: #fffae1;
    padding: 10px 0px 100px 0;    
    color: #1d4851;
}

#Introduction{
    padding: 0px 20%;
}

#Prestations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}

.imagesPrestations h4{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}

.imagesPrestations img{
    width:100%;
    height:250px;
    object-fit:cover;
    object-position:50% 50%;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.3);
}

.imagesPrestations img:hover {
    opacity: 0.5;
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
}

/* ********************************* Nous trouver ************************** */

#locaInfo {
    margin-top: 100px;
    text-align: left;
    padding: 0px 10%;
    color: #1d4851;
    font-size: 1.5em;
}


#InterTrait{
    height: 1px;
    width: 75%;
    margin: 80px auto;
    background-color: #1d4851;
}

.imagesAppart img{
    margin-left: 40px;
    height:250px;
    object-fit:cover;
    object-position:50% 50%;
    border-radius: 5px;
}
/* ******************************* TOURISME **************************** */

#tourisme {
    height: 1400px;
    padding: 1px 2px;
}

#tourisme h2{
    padding-top: 0px;
}


#plage{
    background: url(img/planches.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#bac{
    background: url(img/Le-bac-de-Trouville-Deauville-1140X616.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#casino{
    background: url(img/casino.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#tourisme li {
    margin: 65px 100px 0 100px;
    height: 350px;
    width: 55%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}

#tourisme p{
    height: 45px;
    width: 235px;
    background-color: antiquewhite;
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px rgb(0, 0, 0);
}

#bacj{
    float:right;
}

#bajc p{
    float: left;
    background-color: #8d7268;
    margin-left: -180px;
    box-shadow: 4px 4px 0 1px rgb(0, 0, 0);
}


/* ************************* FOOTER *************************** */


footer{
    margin-top: 300px;
    background-color: #524a3a;
    color: #fffae1;
    padding: 20px 0 10px 0;
    text-align: center;
}

#deuxiemeTrait{
    height: 1px;
    width: 65%;
    background-color: #fffae1;
    margin: 60px auto;
}

#copyrightEtIcons{
    display: flex;
    margin-bottom: 20px;
    padding: 0 20%;
}

#copyright  {
    width: 50%;
    text-align: left;
    color: #fffae1;
}

#icons {
    width: 50%;
    text-align: right;
}

#icons a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
    color: #fffae1
}